black==24.1.1
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
dronekit==2.9.2
fonttools==4.48.1
future==0.18.3
geographiclib==2.0
geopy==2.4.1
kiwisolver==1.4.5
lxml==5.1.0
matplotlib==3.8.2
monotonic==1.6
mypy-extensions==1.0.0
numpy==1.26.4
packaging==23.2
pandas==2.2.0
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.2.0
pymavlink==2.4.41
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2024.1
shapely==2.0.2
six==1.16.0
tomli==2.0.1
typing_extensions==4.9.0
tzdata==2023.4
